body {
  margin: 0;
  background-color: #999;
  height: 100%;
}
h1 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 200px;
  height: 30px;
  line-height: 1;
  padding: 0;
  text-align: center;
  color: #fff;
  font-weight: normal;
}
